<table class="film-table">
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Regista</th>
      <th>Data inizio</th>
      <th>Data fine</th>
      <th>Cerca per data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4"></td>
      <td>
        <div>
          <input type="date" [(ngModel)]="dataInizio" placeholder="Data Inizio">
          <input type="date" [(ngModel)]="dataFine" placeholder="Data Fine">
          <button (click)="cercaPerData()">Cerca</button>
          <button (click)="reset()">Reset</button>

        </div>
      </td>
    </tr>
    <ng-container *ngFor="let film of filmsInProgrammazione">
      <tr>
        <td>{{ film.titolo }}</td>
        <td>{{ film.regista }}</td>
        <td>{{ film.dataInizio }}</td>
        <td>{{ film.dataFine }}</td>
        <td></td>
      </tr>
    </ng-container>
  </tbody>
</table>
